html{
  font-size: 100%;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,input,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}
body {
    font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width: 1020px;
    color: #333333;
    background-color: #e1dad0;
    height:100%;
}
ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: #4183c4;
    text-decoration: none;
}
*:focus { 
    outline: none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.hidden{
    display:none;
}
.container{
    width: 950px;
    margin: 0 auto;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
    background-position: 0 0;
    background-color: #252525;
    background-image: url(img/top_bar.png);
    background-repeat: repeat-x;
}
.header .logo{
    float:left;
    margin-top: 6px;
    width: 84px; 
    height: 21px;
    color:white;
}
.header .search{
    float:left;
    margin:6px 0;
}
.search-input{
    height:22px;
}
.header .upload{
    float:left;
}
.header .upload a{
    display: block;
    font-size:12px;
    height: 12px;
    padding: 13px 12px 15px;
    font-weight: bold;
    line-height: 1;
    color: #bbb;
    text-shadow: 0 -1px 1px rgba(0,0,0,.75);
}
.header .nav{
    float:left;
}
.header .nav li{
    float:left;
    list-style: none;
}
.header .nav li.active{
    color:#FFF;
    background-color: #222;
}
.header .nav li a{
    display: block;
    font-size:12px;
    height: 12px;
    padding: 13px 12px 15px;
    font-weight: bold;
    line-height: 1;
    color: #bbb;
    text-shadow: 0 -1px 1px rgba(0,0,0,.75);
}
.nav .icon-home{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: 0 -110px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.nav .icon-explore{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: -40px -50px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.nav .icon-upload{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: -80px -50px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.header .account{
    float:right;
}
.actions{
    display:inline;
    margin: 7px 0 0;
    padding: 0;
    list-style: none;
}
.actions img{
    width: 26px;
    height: 26px;
    border-radius: 2px;
}
.actions > li > a{
    position: relative;
    display: block;
    height: 26px;
    padding: 7px 11px 7px 12px;
    border-right: 1px solid #06365f;
    border-right-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.top-avatar{
    float:left;
    display:inline;
    margin-right:8px;
}
.top-account{
    line-height:26px;
    font-weight:bold;
    font-size:14px;
}
#page{
    height:100%;
}
#page .container{
    padding: 54px 0 14px;
}
.main{
    width: 600px;
}
.box{
    background-color: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom:10px;
}
.uploader-header{
    min-height: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.uploader-board{
    padding:0px 20px 25px 20px;
}
.drag-drop{
    border: 2px dashed #d4d4d4;
    background-color: #f7f7f7;
    height:300px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.click-upload{

}
#image-file{
    cursor: pointer;
    font-size: 100px;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    width:556px;
    height:300px;
    right: 0;
    top: 0;
}
.post{
    border-radius: 3px;
    width:550px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    height: 100px;
}
.comment-header{
    padding: 10px 18px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
.comment-body{
    padding:10px 18px;
}
.comment-body .action{
    margin-top:5px;
}
.btn-upload{
    background-color: #9da6af;
    border-color: #9da6af;
    color: #fff;
    color: rgba(255,255,255,0.50);
    font-size: 14px;
    font-weight:bold;
    height: 32px;
    line-height: 24px;
    margin-right: 0;
    padding: 0 11px;
    -webkit-font-smoothing: antialiased;
    border-radius:3px;
    border-style: solid;
}
.img-field{
    height:375px;
}
