html{
  font-size: 100%;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,input,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}
body {
    font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width: 1020px;
    color: #333333;
    background-color: #e1dad0;
    height:100%;
}
ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: #4183c4;
    text-decoration: none;
}
*:focus { 
    outline: none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.hidden{
    display:none;
}
.container{
    width: 980px;
    margin: 0 auto;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
    box-shadow: 0 2px 3px rgba(0,0,0,.25);
    background-position: 0 0;
    background-color: #252525;
    background-image: url(img/top_bar.png);
    background-repeat: repeat-x;
}
.header .container{
    text-align: center;
}
.header .logo{
    position: absolute;
    display: inline-block;
    width: 24px; 
    height: 21px;
    background-image: url(img/icons.png);
    background-position: -40px 0;
    background-repeat: no-repeat;
    top: 7px;
}
.header .nav{
    float:left;
}
.header .nav li{
    float:left;
    list-style: none;
}
.header .nav li.active{
    color:#FFF;
    background-color: #222;
}
.header .nav li a{
    display: block;
    font-size:12px;
    height: 12px;
    padding: 13px 12px 15px;
    font-weight: bold;
    line-height: 1;
    color: #bbb;
    text-shadow: 0 -1px 1px rgba(0,0,0,.75);
}
.nav .icon-home{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: 0 -110px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.nav .icon-explore{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: -40px -50px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.nav .icon-upload{
    width:21px;
    height:21px;
    float:left;
    display: inline-block;
    margin: -4px 6px 0 0;
    background-position: -80px -50px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}
.header .action{
    float:right;
}
.header .search{
    float: left;
}
.header .search form{
    margin:7px 0;
}
.search-input{
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 4px 20px 4px 12px;
}
.action .settings{
    float:left;
    margin: 7px 0 0;
    padding: 0;
    list-style: none;
}
#page{
    height:100%;
}
#page .container{
    padding: 54px 0 14px;
}
.main{
    width: 600px;
}
.box{
    background-color: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.box-header{
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #e8e8e8;
}
